<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="soutvoid.com.gamesproject">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.soutvoid.gamesproject.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6b5749ebdeeac0c5f3e6670361e6818564d70f78"/>

        <activity
            android:name="com.soutvoid.gamesproject.ui.screen.main.MainActivityView"
            android:theme="@style/AppTheme.NoActionBar.StatusBarTranslucent"
            android:label="@string/title_activity_main">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name="com.soutvoid.gamesproject.ui.screen.personalize.PersonalizeActivityView"
            android:label="@string/personalize"/>

        <activity android:name="com.soutvoid.gamesproject.ui.screen.queryEdit.QueryEditActivityView"/>

        <activity android:name="com.soutvoid.gamesproject.ui.screen.game.GameActivityView"/>
    </application>

</manifest>